APP_NAME="Chettinad Express Banner API"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Kolkata

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=car_booking
DB_USERNAME=root
DB_PASSWORD=

LOG_CHANNEL=stack
LOG_LEVEL=debug
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public
SANCTUM_EXPIRATION=1440
CORS_ALLOWED_ORIGINS=http://localhost:3000
